<ion-pane>    
  <ion-content >
    <section  scroll="false">
      <div id="df_logo"> 
        <img src="css/images/logo_blanco.png" align= "middle">
      </div >
      <div class="vertical-centered-text">
        <h2>¡Financiar tu empresa nunca fue tan FÁCIL!</h2>
      </div>
      <div> 
        <button id="financia" class="button button-balanced">
        <i class = "icon-left icon ion-social-usd"></i>
        <b><font color = "black" size= "5">199.990.999.-</font></br>
        <font color = "white" size ="4">Disponible a </font><font  color = "white"size = "5"> FINANCIAR</font></b></button>
      </div> 
      <div class = "botones-oferta">
        <button class="button button-positive"><b>
          <font color="black" size ="6"><i class = "icon-left ion-ios-arrow-forward"></i> 4</br></font>
          <font size ="4"><i class = "icon-left ion-help-buoy"></i>
            OFERTAS
          </b></font>
        </button> 
        <button class="button icon-left ion-edit button-royal"><b>Por 
          <font size = "4">FIRMAR</font></br>                  
          <font color="black" size ="6"><i class = "icon-left ion-ios-arrow-forward"></i> 2</b></font>
        </button>  
      </div>
      <div class = "salir-contacto">              
        <button class="button icon-left ion-at button-assertive"><b>CONTACTO Factoring</b> </button>
        <button class="button button-dark" ng-click="logout()"><i class= "icon-left ion-power"></i> Salir</button>          
      </div>
    </section>
  </ion-content>     
</ion-pane>