

     	 <div class="bar bar-subheader1 item-input-inset dis-financiarofertas-small" >
   			<div >
				<h3>Detalle Oferta</h3>			
			</div>
   		</div>
   	
    <ion-content padding="true" class="has-header2" ng-controller="solicitudCtrl">
    <div class = "row2">
    	<h4><center>¿Deseas aceptar la oferta realizada por el siguiente Factoring?</center></h4>
    </div>
    
   				
              
    </ion-content>     
  
    <div class = "row fixed-outside">
		   <div class = "col col-40">
		   		<a class="button icon icon-left ion-chevron-left" href="#/tab/revisar">Volver</a> 
		   		
		   </div>
        <div class = "col col-30" ng-controller="solicitudCtrl">
          <a class="button button-naranja-df3 icon icon-right ion-close-round" 
          ><b>No</b></a> 
       </div>
		   <div class = "col col-30" ng-controller="solicitudCtrl">
		   		<a class="button button-naranja-df2 icon icon-right ion-checkmark" 
          ><b>Si</b></a> 
		   </div>
		</div> 

