      
        

        <ion-content padding="true"  class="has-header hass-footer" scroll="false">
          <div class="banner-top" style=" background: url(../img/banner-img.png);
          ">
          <h2 class="titulo-banner">Financiar tu empresa debería ser simple, rápido y seguro</h2>
        </div>
        <a href="#/tab/solicitud"><div class="dis-financiar">
          <h2>$ 265.200.000</h2>
          <p>Disponible a financiar</p>
        </div></a>
        
        <div class="row  notifica-home">
          <!-- Semanticamente incorrecto pero funciona para poner un href a un div -->
          <div class="col" style="cursor: pointer;" onclick="window.location='#/tab/ofertas';" >
            <div class="col-notifica ofertas">
              <h3 class="numero">15</h3>
              <p class="notifica-titulo">Ofertas</p>
            </div>
          </div>
          <div class="col" style="cursor: pointer;" onclick="window.location='#/tab/pendientes';">
            <div class="col-notifica  pendientes">
              <h3 class="numero">20</h3>
              <p class="notifica-titulo">Pendientes</p>
            </div>
          </div>
        </div>
      </ion-content>