<ion-modal-view>
  <ion-header-bar class="bar-header bar-df">
    <h1 class="title"><font color="white">Confirmación</font></h1>
  </ion-header-bar>
  <ion-content class="padding">
    <h3>¿Deseas solicitar el financiamiento de los siguientes documentos?</h3>
    <h3><a ng-click="openModal()">#828212 ABAST, CENTRO LAM.</a> </h3>
    <div>
      <h3>
        Por un monto Total: 
      </h3>
    </div>
    <div><h2 > $12.000.456.- </h2>
    </div>
    <div class="confirmaSolicitud">
      <button class="button button-balanced" ui-sref="tabs.home" ng-click="showAlert(); cierra(2)">
        <b> Aceptar</b>              
      </button>
      <button class="button button-assertive" style="margin-left:30px" ng-click="cierra(2)">
        <b>Cancelar</b>   
      </button>
    </div>
  </div>
  </ion-content>
</ion-modal-view>