
<ion-modal-view class="ion-nifty-modal">
    <div class="ion-modal-content-custom" >
      <ion-header-bar class="bar-header bar-df">
          <h1 class="title"><font color="white">Detalle Documento</font></h1>
          <a class="button button-icon icon ion-close" ng-click="closeModal(1)"></a>
          
        </ion-header-bar>

      <ion-content class="padding" scroll = "false">
      	
        <h1>Información Documento</h1>
        <div >
        	<a class="button button-icon icon ion-ios-download-outline" ></a>
        </div>
      </ion-content>
    </div>
  </ion-modal-view>