<ion-view title="Ofertas">

     	 <div class="bar bar-subheader1 item-input-inset dis-financiar-small4" >
   			<div >
				<h3>Pendientes por Firmar</h3>			
			</div>
   		</div>
   		<div class="bar bar-subheader3 item-input-inset" >
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder=" Buscar Solicitud" ng-model="search.id" class="full-width" />	
   		</div>
    <ion-content padding="true" class="has-header3">
    <div id = "ofertas" ng-repeat="pending in pendings | filter:search ">
   		<div class = "row2">
		   <div class = "col col-67">
		   		<font color="red" size="4"><b>Oferta </b><a ng-click="openModal({{pending.offers}}, {{pending.documents}})">#{{pending.id}}</a></font>
				<br/><font size="2">Creada por: {{pending.creationUser}}
				<br/> Fecha: {{pending.offers[0].id}}
				<br/> <b>Monto: $54.543.909.-</b>		   		
				</font>

		   </div>
		</div>
	</div>
		
              
    </ion-content>     
</ion-view>