<div class="bar bar-subheader1 item-input-inset dis-financiarofertas-small" >
  <div >
	   <h2>Ofertas</h2>
	</div>
</div>
<ion-content padding="true" class="has-header2 has-footerofertas" >
	<div id = "verofertas" ng-repeat="oferta in recibido">	
    <div class="row  notifica-home">
      <div class="col" style="cursor: pointer;" ng-click="detalle($index)" >
        <div class="col-notifica ofertas">
          <h3 class="oferta"><font color="black"><b>Factoring: {{oferta.factoringName}}</b></font></h3>
          <h3 class="ofertasinborde">Valor: $545.544.-</h3>
          <h3 class="ofertasinborde">ID: {{oferta.id}}</h3>
          <h3 class="ofertasinborde">Comisión: {{oferta.commissions}}</h3>
          <h3 class="oferta">Tasa: 0,5%</h3>              
          <p class="notifica-titulo"><font color="red" size ="3"><b>MONTO FINAL: </b></font> 
         	<font color = "black" size = "4">$145.874.873.-</font>
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>    
<div class="fixed-outside col">
  <a class="button icon icon-left ion-chevron-left" ng-click="retornar()">Volver</a>
</div>